extends layout

block content
  h1= title
  a(href='/') back home
  p Please log in below if you have an account.
  form(action='/users/login' method='post')
    p
      label Email Address
        input(type='email' name='email')
    p
      label Password
        input(type='password' name='password')
    input(type='submit' value='submit')
