extends layout

block content
  h1= title
  a(href="/albums/new") New Album
  table
    thead
      tr
        th ID
        th Name
    tbody
      for student in allStudents
        tr
          td= student._id
          td
            a(href='/students/' + student._id)= student.name
  p
    a(href='students/add') add student
  p
    a(href='students/remove') remove student
