extends ../layout

block content
  a(href="/students") Back
  h1 New Student
  if errors
      each error, index in errors
        p= error
  form(action="/students", method="post")
    p
      label Name
        input(type="text" name="student_name")
    p
      label Phone Number
        input(type="tel" name="student_phone")
    div
      input(type="submit")