extends ../layout

block content
  h1= title
  table
    thead
      tr
        th Name
        th Phone
        th ID
    tbody
      for student in allStudents
        tr
          td
            a(href='/students/' + student._id)= student.name
          td= student.phone
          td= student._id
  p
    a(href='students/add') add student
